<div class="container">
  <div class="row">
    <h3>Liste des commandes</h3>
    <div class="status-title margin-bottom-10px">
      <p>En attente | <%= @orders_validated.count %></p>
    </div>
    <% @orders_validated.each do |order| %>
      <%= render 'order_card', {order: order} %>
    <% end %>
    <div class="status-title margin-bottom-10px">
      <p>Prises en compte | <%= @orders_in_preparation.count %></p>
    </div>
    <% @orders_in_preparation.each do |order| %>
      <%= render 'order_card', {order: order} %>
    <% end %>
    <div class="status-title margin-bottom-10px">
      <p>Prête(s) | <%= @orders_ready.count %></p>
    </div>
    <% @orders_ready.each do |order| %>
      <%= render 'order_card', {order: order} %>
    <% end %>
    <div class="status-title margin-bottom-10px">
      <p>Annulée(s) | <%= @orders_cancelled.count %></p>
    </div>
    <% @orders_cancelled.each do |order| %>
      <%= render 'order_card', {order: order} %>
    <% end %>
  </div>
</div>
