<div class="container">
  <div class="row">
    <div class="card-cart">
      <div class="order-cards-left">
        <i class="fa fa-id-card-o" aria-hidden="true"></i>
        <%= @order.user.lastname %>

        <i class="fa fa-mobile" aria-hidden="true"></i>
        <%= @order.user.mobil_phone %>
        <p>
          <i class="fa fa-calendar" aria-hidden="true"></i>
           <%= @order.created_at.strftime('%v') %>
          <i class="fa fa-shopping-bag" aria-hidden="true"></i>
          <%= @order.delivery_date.strftime('%v') %>
        </p>
      </div>
      <div class="order-information-right">
        <p>
          <%= t('.product_number', count: (@order.order_items.map{|oi| oi.quantity}.sum) ) %>
        </p>
      </div>
    </div>
    <% @order.order_items.each do |oi| %>
      <div class="card-cart">
        <div class="left-card-cart">
          <div class="card-cart-picture" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= helper_picture_url(oi.product)%>)">
          </div>
          <%= oi.product.name %>
        </div>
        <div class="right-card-cart">
          <div class="cart-quantity">
            <%= oi.quantity %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="orders-actions">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <%= link_to orders_path do %>
            <p class='btn btn-danger btn-block margin-bottom-10px'>
              Retour
            </p>
          <% end %>
        </div>
        <div class="col-xs-12 col-sm-3">
          <% if @order.order_status_id <=2 %>
            <%= simple_form_for @order do |f| %>
              <%= f.hidden_field :order_status, value: 3 %>
              <%= f.submit 'Commande prise en compte', class: 'btn btn-primary btn-block margin-bottom-10px' %>
            <% end %>
          <% end %>
        </div>
        <div class="col-xs-12 col-sm-3">
          <%= simple_form_for @order do |f| %>
            <%= f.hidden_field :order_status, value: 4 %>
            <%= f.submit 'Commande prête', class: 'btn btn-success btn-block margin-bottom-10px' %>
          <% end %>
        </div>
        <div class="col-xs-12 col-sm-3">
          <%= simple_form_for @order do |f| %>
            <%= f.hidden_field :order_status, value: 6 %>
            <%= f.submit 'Annuler la commande', class: 'btn btn-danger btn-block margin-bottom-10px' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
