

<div class="wrapper" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path('marie.jpg') %>">
</div>
<%= render 'contact_informations' %>
<%= link_to category_path(@dairy_products) do %>
  <div class="wrapper" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path('lait.jpeg') %>">
    <h1><%= @dairy_products.name %></h1>
  </div>
<% end %>
<div class="wrapper">
  Appelez nous pour faire votre commande
</div>
<%= link_to category_path(@meats) do %>
  <div class="wrapper" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path('viande.jpg') %>)">
    <h1><%= @meats.name %></h1>
  </div>
<% end %>
<div class="wrapper">
  Pains et viennoiserie fabriqués sur place
</div>
<%= link_to category_path(@breds) do %>
  <div class="wrapper" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path('viennoiserie.jpg') %>)">
    <h1><%= @breds.name %></h1>
  </div>
<% end %>
<div class="wrapper">
  Commandez vos gâteaux 24 heures en avance
</div>
<%= link_to category_path(@pastries) do %>
  <div class="wrapper" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path('patisserie.jpg') %>)">
    <h1><%= @pastries.name %></h1>
  </div>
<% end %>
<div class="wrapper">
  Commandez vos petits fours quelques jours avant
</div>
<%= link_to category_path(@takeaway) do %>
  <div class="wrapper" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path('https://static.pexels.com/photos/162918/pizza-cheese-margarita-homemade-162918.jpeg') %>)">
    <h1><%= @takeaway.name %></h1>
  </div>
<% end %>
<%= render 'shared/footer' %>
