

<div class="wrapper" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path('food.jpg') %>">
</div>
<div class="wrapper">
  <div class="address">
    <h2>Chez Marie</h2>
    <i class="fa fa-map-marker" aria-hidden="true"></i>
    15 rue Fontaines 87230 CHAMPSAC
  </div>
  <div class="hours">
    <p><i class="fa fa-clock-o" aria-hidden="true"></i> du mardi au vendredi :</p>
    <p>7h30 à 13h30 - 16h à 19h30</p>
  </div>
    <div class="hours">
    <p><i class="fa fa-clock-o" aria-hidden="true"></i> samedi et dimanche :</p>
    <p>7h30 à 12h30</p>
  </div>
  <div class="phone">
    <a href="tel:0555785762" class="btn btn-danger">
      05.55.78.57.62
    </a>
  </div>
</div>
<div class="wrapper" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path('fruits2.jpg') %>">
  <h1>Fruits et Légumes</h1>
</div>
<div class="wrapper">
  Appelez nous pour faire votre commande
</div>
<div class="wrapper" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path('viande.jpg') %>)">
  <h1>Viandes</h1>
</div>
<div class="wrapper">
  Pains et viennoiserie fabriqués sur place
</div>
<div class="wrapper" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path('viennoiserie.jpg') %>)">
  <h1>Pains et Viennoiserie</h1>
</div>
<div class="wrapper">
  Commandez vos gâteaux 24 heures en avance
</div>
<div class="wrapper" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path('patisserie.jpg') %>)">
  <h1>Patisserie</h1>
</div>
<div class="wrapper">
  Commandez vos petits fours quelques jours avant
</div>
<div class="wrapper" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path('https://static.pexels.com/photos/162918/pizza-cheese-margarita-homemade-162918.jpeg') %>)">
  <h1>Traiteur</h1>
</div>

