<div class="container">
  <div class="row">
    <h3>Votre panier</h3>
    <% @order_items.each do |oi| %>
      <div class="card-cart">
        <div class="left-card-cart">
          <div class="card-cart-picture" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= helper_picture_url(oi.product)%>)">
          </div>
          <%= oi.product.name %>
        </div>
        <div class="right-card-cart">
          <%= simple_form_for oi, remote: true do |f|  %>
            <%= f.hidden_field :quantity, value: oi.quantity-1 %>
            <%= f.submit '-', class: 'btn btn-plus-minus' %>
          <% end %>

          <div class="cart-quantity">
            <%= render 'cart_quantity', {oi: oi} %>
          </div>
          <%= simple_form_for oi, remote: true do |f|  %>
            <%= f.hidden_field :quantity, value: oi.quantity+1 %>
            <%= f.submit '+', class: 'btn btn-plus-minus' %>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="cart-validation-button">
      <% if current_order.id.nil? %>
        <%= link_to root_path do %>
          <p class="btn btn-danger btn-block">
            Votre panier est vide
          </p>
        <% end %>
      <% else %>
        <%= link_to order_path(current_order.id), method: "patch" do %>
          <p class="btn btn-danger btn-block">
            Valider votre panier
          </p>
        <% end %>
      <% end %>

    </div>
  </div>
</div>
