<div class="card-product">
  <div class="card-price-per-weight">
    <%= product.price_per_weight %> €/kg
  </div>
  <div class="picture" style="background-image: url(<%= helper_picture_url(product) %>);">
  </div>
  <div class="card-description">
    <%= product.description %>
  </div>
  <div class="card-name">
    <%= product.name %>
  </div>
  <div class="card-price">
    <%= product.price %> €
  </div>
  <div class="card-weight">
    <%= product.weight %> g
  </div>
  <div class="card-add-basket">
    <%= simple_form_for order_item, remote: true do |f|  %>
      <%= f.hidden_field :quantity, value: 1 %>
      <%= f.hidden_field :product_id, value: product.id %>
      <%= f.submit "Ajouter au panier", class: "btn btn-primary btn-block", id: product.id %>
    <% end %>
  </div>
</div>

