<div class="container">
  <div class="row">
    <h3>Liste des catégories</h3>
    <table>
      <% @categories.each do |category| %>
        <tr class="category-parent">
          <td colspan="3">
            <%= category.name.capitalize %>
          </td>
        </tr>
        <% category.descendants.each do |children| %>
          <tr>
            <td class="category-empty">
            </td>
            <td class="category-tree">
            </td>
            <td class="category-children">
              <%= link_to edit_category_path(children) do %>
                <i class="fa fa-pencil" aria-hidden="true"></i>
              <% end %>
              <% if children.products.size == 0 %>
                <%= link_to(category_path(children) , method: :delete) do %>
                  <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                <% end %>
              <% else %>
                <i class="fa fa-ban" aria-hidden="true"></i>
              <% end %>
                <%= children.name %>
                -
                <%= t('.product_number', count: (children.products.size) ) %>
            </td>
          </tr>
        <% end %>
        <tr><td class="td-empty"></td></tr>
      <% end %>

    </table>
    <%= link_to new_category_path do %>
      <div class="create-supplier">
        +
      </div>
    <% end %>
  </div>
</div>
